<!DOCTYPE html>
<html lang="en">
<head>
	<title>Stelute</title>

	<meta charset="utf-8">
	<meta name="author" content="Ionel"/>
	<link type="text/css" rel="stylesheet" href="../css/stil.css"/>
</head>
<body class="container">

<header>
    <% include ../fragmente/header %>
</header>

<main>
    <div class="afisaj">
        <h1>Stelute!!!!</h1>
        <p>
		<img src="http://irinaciocan.ro/imagini/stea1.png" alt="stea"/>
		<img src="http://irinaciocan.ro/imagini/stea2.png" alt="stea"/>
		<img src="http://irinaciocan.ro/imagini/stea3.png" alt="stea"/>
		<img src="http://irinaciocan.ro/imagini/stea4.png" alt="stea"/>
		</p>
    </div>
</main>

<footer>
    <% include ../fragmente/footer %>
</footer>

</body>
</html>